<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
{% load staticfiles %}

<link rel="stylesheet" href="{% static 'music/style.css' %} ">
<link rel="stylesheet" href="{% static '/music/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="../../static/music/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'music:index' %}">Viber</a>

        </div>
        <ul>
            <li><a href="{% url 'music:album-add'%}">add album</a></li>
        </ul>
    </div>




</nav>

{% block body %}

{% endblock %}

</body>

<script src="{% static 'music/js/jquery.min.js' %}"></script>
<script src="{% static 'music/js/bootstrap.min.js' %}"></script>
</html>

